body {background-color:#D5D887 ;}


.h1, h2 {font-family: 'Poppins', sans-serif}

.p1 {font-family: 'PT Serif', serif;}

.col-lg-3 {
    background-color:#026C7C;
    color: #bf2525;}

.col-md-6 {
    background-color: #055864;
    color: #BFAB25;}
 



    
















